<!-- templates/_base.html -->

<!-- {{ "{%" }} load compress {{ "%}" }} -->
{{ "{%" }} load static {{ "%}" }}
{{ "{%" }} load static tailwind_tags {{ "%}" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>

    <!-- {{ "{%" }} compress css {{ "%}" }} -->
    <!-- <link rel="stylesheet" href="{{ "{%" }} static 'src/output.css' {{ "%}" }}"> -->
    <!-- {{ "{%" }} endcompress {{ "%}" }} -->

    {{ "{%" }} tailwind_css {{ "%}" }}

</head>

<body>
    {{ "{%" }} block content {{ "%}" }}
    {{ "{%" }} endblock content {{ "%}" }}
    <!-- Flowbite CDN with each new version I guess I should update it...!!! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    {{ "{%" }} block script {{ "%}" }}
    {{ "{%" }} endblock script {{ "%}" }}
</body>

</html>
